:root {
    --tom-primario: #8FC2EE;
    --tom-secundario: #479EEB;
    --tom-terciario: #377CB8;
    --tom-quaternario: #40576B;
    --tom-quinario: #20486B;
    --cinza-claro: #C8C8C8;
    --cinza-escuro: #888888;
}
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    border: 0;
    transition-property: background-color, outline-color;  /* Transição para temas de cores */
    transition-duration: 1.4s; 
}
li {
    list-style: none;
}
body {
    background-color: var(--tom-quaternario); 
    color: white;
    font-family: 'Lato', sans-serif;
}

/* ---------------------------------------- Sobreposições ---------------------------------------- */

.drop-list {  
    z-index: 1;
}

/* ---------------------------------------- Header ---------------------------------------- */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem 2.0vw;
}
#header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100.0%;
    max-width: 1366px;
}
/* -------------------- Esquerda -------------------- */
#header-left-content {
    display: flex;
    justify-content: left;
    align-items: baseline;
    gap: 0.5rem;
}
#logo {
    opacity: 0.8;
    font-weight: normal;
    font-size: 2.4em;
}
#versao {
    opacity: 0.8;
    font-weight: normal;
    font-size: 1.4em;
}
/* -------------------- Direita -------------------- */
#header-right-content {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 0.5rem;
}
#idiomas {
    position: relative;
    cursor: pointer;
    width: 170px;
    transition-property: width;
    transition-duration: 1.0s;
}
#idiomas > * {
    transition-duration: 0.2s;
}
#idiomas-menu {
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    height: 38px;
    border-radius: 8px 8px 0 0;
    transition-duration: 0.2s;
}
#idiomas-menu:hover {
    background-color: var(--cinza-claro);
}
#idiomas-menu-icon, 
.idioma-bandeira, 
.idioma-extenso {
    display: flex;
    justify-content: center;
    align-items: center;
}
#idiomas-menu-icon {
    width: 34px;
}
.idioma-bandeira {
    width: 34px;
}
.idioma-extenso {
    width: 102px;
    overflow: hidden;
    transition-property: width;
    transition-duration: 1.0s;
}
.idioma-extenso > p {
    width: 100.0%;
    white-space: nowrap;
}
#idiomas-list {
    position: absolute;
    display: none;
    width: 100.0%;
}
#idiomas-list > li {
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    height: 38px;
    transition-duration: 0.2s;
}
#idiomas-list > li:hover {
    background-color: var(--cinza-claro);
}
#idiomas-list > li:last-child {
    border-radius: 0 0 8px 8px;
}

/* ---------------------------------------- Main ---------------------------------------- */

main {
    background-color: var(--tom-primario);
    outline: solid var(--tom-secundario) 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
}
#calculadora {
    background-color: var(--tom-quinario);
    outline: solid var(--tom-secundario) 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 770px;
    height: 420px;
    padding: 0.9rem;
    border-radius: 12px;
}
/* -------------------- Unidades -------------------- */
#unidades-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 55.0%;
    height: 100.0%;
    margin-top: 0;
}
.unidade {
    background-color: var(--tom-terciario);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 28.0%;
    height: 28.0%;
    border-radius: 6px;
}
.unidade-selecionada {
    outline: solid var(--tom-quaternario);
    outline-width: 8px;
}
.unidade:not(.unidade-selecionada) {
    cursor: pointer;
}
.unidade-desc {
    font-size: 1.0em;
}
/* -------------------- Input e output -------------------- */
#input-output-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    width: 44.0%;
    height: 80.0%;
}
.in-out-titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 88.0%;
    margin-left: 0.9rem;
}
.dropdown {
    position: relative;
    margin-right: 0.6rem;
    cursor: pointer;
}
.drop-square {
    background-color: var(--tom-terciario);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    border-radius: 4px;
}
.drop-list {  
    background-color: white;
    box-shadow: 5px 5px 12px 1px black;
    position: absolute;
    display: none;
    top: 55.0%;
    right: 50.0%;
    width: 260px;
    height: 180px;
    overflow-x: auto;
    overflow-y: auto;
    font-size: 1.4em;
}
.dropdown-aberto {
    display: block;
}
.drop-list > li {
    color: black;
    padding: 0.4rem;
    font-size: 0.7em;
    transition: none;
}
.list-active {
    background-color: var(--cinza-escuro);
    cursor: auto;
}
.drop-list > li:not(.list-active):hover {
    background-color: var(--cinza-claro);
}
.input-output-escala {
    font-weight: normal;
    font-size: 1.0em;
}
#input, 
#output {
    outline: solid black 3px;
    width: 89.0%;
    height: 14.0%;
    margin-left: 1.0rem;
    border-radius: 7px;
    text-align: center;
    font-size: 1.4em;
}
#output {
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#botoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65.0%;
    height: 20.0%;
}
#converter, 
#inverter {
    background-color: var(--tom-secundario);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40.0%;
    height: 80.0%;
    border-radius: 7px;
    font-size: 1.0em;
    cursor: pointer;
    transition-property: opacity;
    transition-duration: 0.8s;
}
#converter:hover, 
#inverter:hover {
    opacity: 0.7;
}

/* ---------------------------------------- SVGS ---------------------------------------- */

span.material-symbols-outlined {  
    -webkit-user-select: none;  
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 480;
    font-size: 500.0%;
    transition: 0.3s;
}
span.bandeira {
    font-size: 110.0%;
}
span#idioma-dropdown-icon {
    font-size: 180.0%;
}
span#mudar-tema {
    font-size: 260.0%;
}
span#mudar-tema:hover {
    opacity: 0.7;
    cursor: pointer;
}
.unidade:hover span.material-symbols-outlined, 
.unidade-selecionada span.material-symbols-outlined { 
    opacity: 0.7;
    font-size: 300.0%;
}
span.drop-icon {
    font-size: 180.0%;
}
.dropdown:hover span.drop-icon,
span.drop-icon-selected {
    opacity: 0.7;
}
span#inverter-icone {
    font-size: 220.0%;
}

/* ---------------------------------------- Media query ---------------------------------------- */

@media only screen and (max-width: 854px) {  
    #calculadora {
        flex-direction: column-reverse;
        width: 90.0vw;
        height: unset;
    }
    #input-output-area {
        gap: 1.4rem;
        width: 98.0%;
        height: unset;
    }
    .in-out-titulo {
        margin-left: 0;
    }
    .drop-square {
        width: 48px;
        height: 48px;
    }
    .drop-list {  
        left: 50.0%;
        width: 300px;
        height: 200px;
        font-size: 1.6em;
    }
    .input-output-escala {
        font-size: 1.5em;
    }
    #input, 
    #output {
        width: 88.0%;
        height: 55px;
        margin-left: 0;
        font-size: 2.0em;
    }
    #botoes {
        height: 80px;
    }
    #converter {
        font-size: 1.2em;
    }
    #unidades-area {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        row-gap: 1.0rem;
        width: 90.0%;
        height: unset;
        margin-top: 1.8rem;
    }
    .unidade {
        justify-self: center;
        align-self: flex-start;
        width: 96px;
        height: 96px;
    }
    .unidade-selecionada {
        outline-width: 6px;
    }
    .unidade-desc {
        font-size: 0.9em;
    }
    span.material-symbols-outlined {
        font-size: 240.0%;
    }
    span.drop-icon {
        font-size: 330.0%;
    }
    .unidade:hover span.material-symbols-outlined, 
    .unidade-selecionada span.material-symbols-outlined {
        font-size: 400.0%;
    }
}

@media only screen and (max-width: 734px) {
    #input,
    #output {
        font-size: 1.8em;
    }
    #unidades-area {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (max-width: 592px) {
    .input-output-escala {
        font-size: 1.2em;
    }
    #input,
    #output {
        font-size: 1.6em;
    }
    #converter {
        font-size: 1.0em;
    }
    #unidades-area {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 498px) {
    #idiomas {
        width: 68px;
    }
    .idioma-extenso {
        width: 0;
    }
}

@media only screen and (max-width: 452px) {
    #input-output-area {
        gap: 1.0rem;
    }
    .in-out-titulo {
        flex-direction: column;
        gap: 0.6rem;
    }
    .drop-list {
        left: -100.0%;
        width: 240px;
        height: 170px;
        font-size: 1.3em;
    }
    #input,
    #output {
        font-size: 1.4em;
    }
    #botoes {
        width: 85.0%;
        height: 80px;
    }
    #converter, 
    #inverter {
        width: 45.0%;
        font-size: 1.0em;
    }
    #unidades-area {
        grid-template-columns: repeat(2, 1fr);
    }
}
